/*
 * -------------------------------------------------
 *  nfcore/rnaseq Nextflow config file
 * -------------------------------------------------
 * Default config options for all environments.
 * Cluster-specific config options should be saved
 * in the conf folder and imported under a profile
 * name here.
 */

manifest {
  name = '@git_repo_name@'
  description = '@ap_pipeline_description@'
  homePage = '@git_url@'
  author = 'Institut Curie - Bioinformatics core facility'
  version = '@git_commit@'
  mainScript = 'main.nf'
  nextflowVersion = '>=19.10.0'
}

// Global default params, used in configs
params {
  container = ''
  help = false
  // Workflow flags
  name = false
  genome = false
  library = false
  libraryDesign = false
  libraryList = false
  reverse = false
  reads = null
  samplePlan = null
  metadata = null
  outdir = './results'
  singleEnd = true

  // default options
  queue = false
  tracedir = "${params.outdir}/pipeline_info"
  email = false
  skipFastqc = false
  skipMultiqc = false
  multiqcConfig = "$baseDir/assets/multiqc_config.yaml"
}

/*
 * Configs and profiles
 */

includeConfig 'conf/base.config'
includeConfig 'conf/process.config'
includeConfig 'conf/genomes.config'

// Profiles
profiles {
  conda { 
    includeConfig 'conf/conda.config'
  }
  multiconda {
    includeConfig 'conf/multiconda.config'
  }
  docker { 
    includeConfig 'conf/docker.config'
  }
  singularity { 
    includeConfig 'conf/singularity.config'
  }
  multipath {
    includeConfig 'conf/multipath.config'
  }
  path {
    includeConfig 'conf/path.config'
  }
  cluster {
    includeConfig 'conf/cluster.config'
  }
  standard {
    includeConfig 'conf/standard.config'
  }
  test {
    includeConfig 'conf/test.config'
  }
}
