


params {

 // notifications
  email = false
  plaintext_email = false

  // cluster
  queue = null

  // genome annotations
  genomeAnnotationPath = "${baseDir}/../annotations"

  // output directories
  outputDir = './results'
  summaryDir = "${params.outputDir}/summary"

  // conda
  condaCacheDir = "$HOME/conda-cache-nextflow"
  
  geniac {


    tools {
        // Add your tools available in conda here, for example:
        // fastqc = "conda-forge::openjdk=8.0.192=h14c3975_1003 bioconda::fastqc=0.11.6=2"
        // fastqc = "conda-forge::openjdk=8.0.192=h14c3975_1003 bioconda::fastqc-0.11.8-2"
	// biopython = "conda-forge::biopython-1.76-py27h516909a_0"
	// python = "conda-forge::python-3.8.1-h88bc6d3_2"
	// multiqc = "conda-forge::multiqc-1.8-py_1"
	// rbase = "conda-forge::r-base-3.6.2-h3a67422_0"	
	// numpy = "conda-forge::numpy-1.16.5-py27h95a1406_0"	
	// regex = "conda-forge::regex-2019.12.20-py27h516909a_0"
	// rmarkdown = "conda-forge::r-markdown-1.8-r343h889e2dd_0"

	fastqc = "bioconda::fastqc=0.11.8=1"
	python = "conda-forge::python=3.7.6=cpython_h8356626_6"
	numpy  = "conda-forge::numpy=1.18.1=py37h8960a57_1"
	regex  = "conda-forge::regex"
	biopython = "conda-forge::regex conda-forge::biopython=1.76=py37h516909a_0"
	//multiqc = "bioconda::multiqc=1.8=py_2"
	multiqc = "defaults::conda=4.6.14 conda-forge::lzstring=1.0.4=py_1001 conda-forge::matplotlib-base=3.1.1=py37h250f245_2 conda-forge::spectra=0.0.11=py_1 bioconda::multiqc=1.8=py_2"
	rbase = "conda-forge::r-base=4.0.0=hdca8982_3"
	rmarkdown = "conda-forge::r-rmarkdown=2.1=r40h6115d3f_1"
    }
  
    // options for singularity and docker containers
    containers {
      singularityImagePath = "${baseDir}/../containers/singularity"
      singularityRunOptions = ""
      dockerRunOptions = ""
      root = "${baseDir}"
  
      // containers are based on CentOS linux
      // some tools require dependcies to be installed with 'yum install'
      // specific dependencies are listed below
      yum {
              // example of dependency:
              fastqc = 'fontconfig dejavu*'
	      	
          }
  
      git {
          // keep this as syntax example
          some_tools = 'https://github.com/some_user/some_tools::commit_hash'
      }
    }
  }

}

