/*
 * Default for environment options
 */

params {

 // notifications
  email = false

  // cluster
  queue = null

  // genome annotations
  genomeAnnotationPath = "/data/annotations/pipelines/"

  // Limit resources so that this can run on Travis
  maxCpus = 2
  maxMemory = 16.GB
  maxTime = 48.h
  
  // output directories
  outputDir = './results'
  summaryDir = "${params.outputDir}/summary"

  // conda
  condaCacheDir = "$HOME/conda-cache-nextflow"

  // Singularity image path
  singularityImagePath = ""

  // Global path used for path or multipath profiles
  globalPath = ""
}
