/*
 * -------------------------------------------------
 *  Config the cluster profile and your scheduler
 * -------------------------------------------------
 */

process {
    executor = 'pbs'
    queue = params.queue ?: null
    // Export all env variables defined by the user in order to use user specific executable in the path
    clusterOptions = "-V"
}
