conda { 
  cacheDir = "${params.condaCacheDir}" 
}

process {
  withLabel:fastqc { conda = "${baseDir}/environment.yml" }
  withLabel:biopython { conda = "${baseDir}/environment.yml" }
  withLabel:rbase { conda = "${baseDir}/environment.yml" }
  withLabel:python { conda = "${baseDir}/environment.yml" }
  withLabel:multiqc { conda = "${baseDir}/environment.yml" }
}
