docker {
  enabled = true
  runOptions = "${params.geniac.containers.dockerRunOptions}"
}

process {
  withLabel:fastqc { container = "fastqc" }
  withLabel:onlyLinux { container = "onlylinux" }
  withLabel:biopython { container = "biopython" }
  withLabel:rbase { container = "rbase" }
  withLabel:python { container = "python" }
  withLabel:multiqc { container = "multiqc" }
}
