params {
  genomeAnnotationPath = params.genomeAnnotationPath ?: "${baseDir}/../annotations"

  geniac {
    tools {
      // Add your tools available in conda here, for example:
      fastqc = "bioconda::fastqc=0.11.8=2"
      python = "conda-forge::python=3.7.6=he5300dc_5_cpython"
      markdown = "conda-forge::python=3.7.6=he5300dc_5_cpython conda-forge::pymdown-extensions=7.1"
      biopython = "conda-forge::regex conda-forge::biopython=1.76=py38h0b31af3_0"
      multiqc = "defaults::conda=4.6.14 conda-forge::lzstring=1.0.4=py_1001 conda-forge::matplotlib-base=3.1.1=py37h3a684a6_1 conda-forge::spectra=0.0.11=py_1 bioconda::multiqc=1.8=py_2"
      rbase = "conda-forge::r-base=4.0.0=hec7d121_3"
    }

    // options for singularity and docker containers
    containers {
      singularityImagePath = params.singularityImagePath ?: "${baseDir}/../containers/singularity"
      singularityRunOptions = ""
      dockerRunOptions = ""
      globalPath = params.globalPath ?: "${baseDir}/../path"

      // containers are based on CentOS linux
      // some tools require dependcies to be installed with 'yum install'
      // specific dependencies are listed below
      yum {
        // example of dependency:
        fastqc = 'fontconfig dejavu*'
      }

      //git {
        // keep this as syntax example
        //some_tools = 'https://github.com/some_user/some_tools::commit_hash'
      //}
    }
  }
}