/*
 * -------------------------------------------------
 *  Nextflow config file for iGenomes paths
 * -------------------------------------------------
 * Defines reference genomes, using iGenome paths
 * Can be used by any config that customises the base
 * path using $params.igenomes_base / --igenomes_base
 */

params {

  //Define where the annotation are available
  genomes_base = '/data/annotations/pipelines/'

  genomes {
    'hg38' {
      fasta   = "${params.genomes_base}/Human/hg38/genome/hg38.fa"
    }
    'hg19' {
      fasta   = "${params.genomes_base}/Human/hg19/genome/hg19.fa"
    }
  }

  libraries {
    'GW-KO-Sabatini-Mouse-10' {
      description = "Librairie Genome-Wide Knockout standard Sabatini Mouse with 10 guides/gene"
      design = "${baseDir}/assets/libraries/0096_grnas_ngs_reads_sabatini_positive_screen_mouse_NoUnmapped_NoMultihits_NonRedundant.csv"
    }
    'GW-KO-Sabatini-Human-10' {
      description = "Librairie Genome-Wide Knockout standard Sabatini Human with 10 guides/gene"
      design = "${baseDir}/assets/libraries/0095_grnas_ngs_reads_sabatini_negative_screen_human_NoUnmapped_NoMultihits_NonRedundant.csv"
    }
    'GW-CRISPRi-Weissman-Human-5' {
      description = "Librairie Genome-Wide Inhibition Standard Weissman Human with 5 guides/gene"
      design = "${baseDir}/assets/libraries/190730_Library_CRISPRi_Weissman_Top5.csv"
    }
    'GW-CRISPRi-Weissman-Human-10' {
      description = "Librairie Genome-Wide Inhibition Weissman Human with 10 guides/gene"
      design = "${baseDir}/assets/libraries/hcrispri-v2-guides-weissman.csv"
    }
    'GW-KO-GeCKo-Human-5' {
      description = "Librairie Genome-Wide Knockout standard Gecko Human with 5 guides/gene"
      design = "${baseDir}/assets/libraries/Human_GeCKOv2_Library_combine_NoUnmapped_NoMultihits_NonRedundant.csv"
    }
    'GW-KO-GeCKo-Mouse-5' {
      description = "Librairie Genome-Wide Knockout standard Gecko Mouse with 5 guides/gene"
      design = "${baseDir}/assets/libraries/Mouse_GeCKOv2_Library_combine_NoUnmapped_NoMultihits_NonRedundant.csv"
    }
    'GW-Calabrese-hCRISPRa' {
    description = ""
    design = "${baseDir}/assets/libraries/GW-Calabrese-hCRISPRa.csv"
    }
  }
}
