includeConfig 'process.config'

singularity {
  enable = false
}

docker {
  enable = false
}

process {
    withLabel:fastqc { beforeScript = "export PATH=${baseDir}/../path/fastqc/bin:$PATH" }
    withLabel:python { beforeScript = "export PATH=${baseDir}/../path/python/bin:$PATH" }
    withLabel:biopython { beforeScript = "export PATH=${baseDir}/../path/biopython/bin:$PATH" }
    withLabel:rbase { beforeScript = "export PATH=${baseDir}/../path/rbase/bin:$PATH" }
    withLabel:multiqc { beforeScript = "export PATH=${baseDir}/../path/multiqc/bin:$PATH" }
    withLabel:rmarkdown { beforeScript = "export PATH=${baseDir}/../path/rmarkdown/bin:$PATH" }
}