singularity {
  enable = false
}

docker {
  enable = false
}

process {
  withLabel:fastqc { beforeScript = "export PATH=${params.geniac.containers.globalPath}/fastqc/bin:$PATH" }
  withLabel:python { beforeScript = "export PATH=${params.geniac.containers.globalPath}/python/bin:$PATH" }
  withLabel:biopython { beforeScript = "export PATH=${params.geniac.containers.globalPath}/biopython/bin:$PATH" }
  withLabel:rbase { beforeScript = "export PATH=${params.geniac.containers.globalPath}/rbase/bin:$PATH" }
  withLabel:multiqc { beforeScript = "export PATH=${params.geniac.containers.globalPath}/multiqc/bin:$PATH" }
}