includeConfig 'process.config'

singularity {
    enabled = true
    autoMounts = true
    runOptions = "${params.geniac.containers.singularityRunOptions}"
}

process {
    withLabel:fastqc { container = "${params.geniac.containers.singularityImagePath}/fastqc.simg" }
    withLabel:onlyLinux { container = "${params.geniac.containers.singularityImagePath}/onlylinux.simg" }
    withLabel:rbase { container = "${params.geniac.containers.singularityImagePath}/rbase.simg" }
    withLabel:biopython { container = "${params.geniac.containers.singularityImagePath}/biopython.simg" }
    withLabel:rmarkdown { container = "${params.geniac.containers.singularityImagePath}/rmarkdown.simg" }
    withLabel:python { container = "${params.geniac.containers.singularityImagePath}/python.simg" }
    withLabel:multiqc { container = "${params.geniac.containers.singularityImagePath}/multiqc.simg" }
}
