/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow run nf-core/mypipeline -profile test
 */

params {
  
  // Limit resources so that this can run on Travis
  max_cpus = 2
  max_memory = 16.GB
  max_time = 48.h
  
  // Input data
  singleEnd = true
  genome = 'hg38'
  csv = 'assets/libraries/0095_grnas_ngs_reads_sabatini_negative_screen_human_NoUnmapped_NoMultihits_NonRedundant.csv'
  readPaths = [
    ['V542R01', ["/data/tmp/testdataset_pipelines/CRISPR/V542R01.R1.fastq.gz", ""]],
    ['V542R02', ["/data/tmp/testdataset_pipelines/CRISPR/V542R02.R1.fastq.gz", ""]]
  ]
}
