/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow run nf-core/mypipeline -profile test
 */

params {
  
  // Limit resources so that this can run on Travis
  max_cpus = 2
  max_memory = 16.GB
  max_time = 48.h
  
  // Input data
  singleEnd = true
  genome = 'hg38'
  csv = 'assets/hcrispri-v2-guides-weissman_NoUnmapped_NoMultihits_NonRedundant.csv'
  readPaths = [
    ['L332R1', ["/data/tmp/testdataset_pipelines/CRISPR/L332R1.R1.fastq.gz", ""]],
    ['L332R2', ["/data/tmp/testdataset_pipelines/CRISPR/L332R2.R1.fastq.gz", ""]]
  ]
}
